body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: serif;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin:  50px auto 0 auto;
  font-family: cursive;
}
h2{
  color: #66BFBF;
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: sans-serif;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}

a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding: 100px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;

}
.intro{
  width: 30%;
  margin: auto;

}
.contact-message{
  width: 40%;
  margin:40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.skill-row{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}
.top-cloud{
  position:relative;
  left: 200px;
  top: 10px;
}
.bottom-cloud{
  position: relative;

}
.coding-img {
  width: 25%;
  float: left;
  margin: auto 30px auto auto;
}
.java-img{
  width: 25%;
  float: right;
  margin: auto 30px auto auto;

}
.travelling-img {
  width: 25%;
  float: left;
  margin: auto 30px auto auto;
}
